.inicio::before {
    content: "\f015";
}
.regulamento::before {
    content: "\f15c";
}
.envie-filme::before {
    content: "\f008";
}
.contato::before {
    content: "\f075";
}
.ed-anteriores::before {
    content: "\f4ba";
}
.sair::before {
    content: "\f2f5";
}
.login::before {
    content: "\f2f6";
}
.filmes::before {
    content: "\f03d";
}
.admin::before {
    content: "\f085";
}
.perfil::before {
    content: "\f007";
}
.instagram::before {
    content: "\f16d";
}
.facebook::before {
    content: "\f39e";
}