@charset "UTF-8";
@media (min-width: 576px) and (max-width: 650px) {
  .container {
    max-width: 650px;
  }
}
@media (min-width: 651px) and (max-width: 720px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 721px) and (max-width: 767.98px) {
  .container {
    max-width: 767.98px;
  }
}
.navbar-banco {
  padding: 0;
}
@media (min-width: 768px) {
  .navbar-banco {
    flex-wrap: wrap;
  }
}
.navbar-banco .navbar-header {
  padding: 0 15px;
  width: 100%;
  background: url("../../../img/passaro.svg") 55% 0 no-repeat;
  background-size: 150px auto;
}
@media (max-width: 1199.98px) {
  .navbar-banco .navbar-header {
    background-position: 85% -10px;
  }
}
@media (max-width: 575.98px) {
  .navbar-banco .navbar-header {
    background-image: none;
  }
}
.navbar-banco .navbar-header .navbar-brand {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-header .navbar-brand {
    padding-bottom: 30px;
  }
}
.navbar-banco .navbar-header .navbar-brand h1, .navbar-banco .navbar-header .navbar-brand h2 {
  font-weight: 400;
}
.navbar-banco .navbar-header .navbar-brand h1 {
  font-size: 50px;
  margin-bottom: 0;
  line-height: 1em;
  text-align: left;
  color: #293462;
}
@media (min-width: 461px) and (max-width: 767.98px) {
  .navbar-banco .navbar-header .navbar-brand h1 {
    font-size: 44px;
  }
}
@media (max-width: 460px) {
  .navbar-banco .navbar-header .navbar-brand h1 {
    font-size: 34px;
  }
}
@media (max-width: 380px) {
  .navbar-banco .navbar-header .navbar-brand h1 {
    font-size: 32px;
  }
}
@media (max-width: 359px) {
  .navbar-banco .navbar-header .navbar-brand h1 {
    font-size: 26px;
  }
}
.navbar-banco .navbar-header .navbar-brand h2 {
  margin-bottom: 0;
  color: #216583;
  font-size: 34px;
  text-align: left;
}
@media (min-width: 461px) and (max-width: 767.98px) {
  .navbar-banco .navbar-header .navbar-brand h2 {
    font-size: 28px;
  }
}
@media (max-width: 460px) {
  .navbar-banco .navbar-header .navbar-brand h2 {
    font-size: 26px;
  }
}
@media (max-width: 380px) {
  .navbar-banco .navbar-header .navbar-brand h2 {
    font-size: 24px;
  }
}
@media (max-width: 359px) {
  .navbar-banco .navbar-header .navbar-brand h2 {
    font-size: 20px;
  }
}
.navbar-banco .navbar-header .navbar-brand a {
  font-weight: 800;
}
.navbar-banco .navbar-header .navbar-toggler {
  color: rgba(0, 0, 0, 0.9);
  font-size: 30px;
  border: none;
  padding: 0;
}
.navbar-banco .navbar-header .navbar-toggler .navbar-toggler-icon span::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: 900;
}
.navbar-banco .navbar-header .navbar-toggler .navbar-toggler-icon:focus {
  border: none;
  outline: none;
}
.navbar-banco .navbar-header .navbar-toggler.collapsed .navbar-toggler-icon span::before {
  content: "";
}
.navbar-banco .navbar-header .navbar-toggler:hover, .navbar-banco .navbar-header .navbar-toggler:active, .navbar-banco .navbar-header .navbar-toggler:focus {
  color: #000000;
  outline: none;
  border: none;
}
.navbar-banco .navbar-body {
  padding: 0 0 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body {
    padding: 0 0 40px;
  }
}
.navbar-banco .navbar-body .navbar-nav {
  width: 100%;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .navbar-nav {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
}
.navbar-banco .navbar-body .navbar-nav .nav-link {
  text-align: left;
  color: #216583;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-banco .navbar-body .navbar-nav .nav-link {
    padding: 10px 26px;
  }
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .navbar-nav .nav-link {
    border-radius: 5px;
    background-color: #f7be16;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 3px 0;
  }
}
@media (max-width: 575.98px) {
  .navbar-banco .navbar-body .navbar-nav .nav-link:last-child {
    border-bottom: none;
  }
}
.navbar-banco .navbar-body .navbar-nav .nav-link:focus, .navbar-banco .navbar-body .navbar-nav .nav-link:hover {
  padding-left: 40px;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .navbar-nav .nav-link:focus, .navbar-banco .navbar-body .navbar-nav .nav-link:hover {
    padding: 12px 28px;
  }
}
.navbar-banco .navbar-body .navbar-nav .nav-link.dropdown-toggle::after {
  color: #00818a;
}
.navbar-banco .navbar-body .navbar-nav .nav-link::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 12px;
  color: #216583;
}
.navbar-banco .navbar-body .navbar-nav .nav-link.facebook::before, .navbar-banco .navbar-body .navbar-nav .nav-link.instagram::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .navbar-nav .nav-link.facebook::before, .navbar-banco .navbar-body .navbar-nav .nav-link.instagram::before {
    margin-right: 0;
  }
}
.navbar-banco .navbar-body .navbar-nav .nav-link.login {
  color: #FFFFFF;
}
.navbar-banco .navbar-body .navbar-nav .nav-link.login::before {
  color: #FFFFFF;
}
.navbar-banco .navbar-body .navbar-nav .dropdown-menu {
  right: 0;
  font-size: 18px;
  padding: 0 0;
  border: none;
  margin-bottom: 15px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .navbar-nav .dropdown-menu {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 3px 0;
  }
}
.navbar-banco .navbar-body .navbar-nav .dropdown-item {
  padding: 5px 70px;
  color: #293462;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .navbar-nav .dropdown-item {
    text-align: center;
    padding: 5px 50px;
    border-bottom: 1px solid;
  }
}
.navbar-banco .navbar-body .navbar-nav .dropdown-item:focus, .navbar-banco .navbar-body .navbar-nav .dropdown-item:hover {
  color: #293462;
  padding-left: 74px;
  text-decoration: none;
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .navbar-nav .dropdown-item:focus, .navbar-banco .navbar-body .navbar-nav .dropdown-item:hover {
    color: #293462;
    padding: 5px 50px;
  }
}
.navbar-banco .navbar-body .menu-primary {
  background-color: transparent;
}
@media (max-width: 575.98px) {
  .navbar-banco .navbar-body .menu-primary {
    background: url(../../../img/passaro.svg) 90% 0 no-repeat;
    background-size: 150px;
  }
}
.navbar-banco .navbar-body .menu-primary .navbar-nav .nav-link {
  font-weight: 500;
}
.navbar-banco .navbar-body .menu-administrador {
  width: 100%;
  margin-top: 10px;
}
.navbar-banco .navbar-body .menu-administrador .navbar-nav {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  justify-content: start;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .menu-administrador .navbar-nav {
    padding: 0;
    justify-content: flex-end;
  }
}
.navbar-banco .navbar-body .menu-administrador .navbar-nav .nav-link {
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 3px 0;
  border-radius: 5px;
  background-color: #293462;
  font-size: 16px;
  padding: 5px 10px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .navbar-banco .navbar-body .menu-administrador .navbar-nav .nav-link {
    font-size: 18px;
  }
}
.navbar-banco .navbar-body .menu-administrador .navbar-nav .nav-link::before {
  color: #f7be16;
  margin-right: 5px;
  text-decoration: none;
}
.navbar-banco .navbar-body .menu-administrador .navbar-nav .nav-link:hover {
  padding: 7px 12px;
}

/*# sourceMappingURL=navbar-banco.css.map */
